<h1>Main#home</h1>

<p>Find me in app/views/main/home.html.erb</p>
<%= link_to 'My Articles', articles_path %>
<%= link_to 'My Work Experiences', work_experiences_path %>
<%= link_to 'My Projects', projects_path %>
<%= link_to 'My Education', educations_path%>
<%= link_to 'My Abilities', abilities_path%>
<%= link_to 'My Future Plane', future_planes_path%>