<%= form_for(@patent) do |f| %>
  <% if @patent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patent.errors.count, "error") %> prohibited this patent from being saved:</h2>

      <ul>
      <% @patent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :people_involved %><br>
    <%= f.text_field :people_involved %>
  </div>
  <div class="field">
    <%= f.label :register_date %><br>
    <%= f.text_field :register_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
