<h1>Listing patents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>People involved</th>
      <th>Register date</th>
      <th>Status</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patents.each do |patent| %>
      <tr>
        <td><%= patent.title %></td>
        <td><%= patent.people_involved %></td>
        <td><%= patent.register_date %></td>
        <td><%= patent.status %></td>
        <td><%= patent.detail %></td>
        <td><%= link_to 'Show', patent %></td>
        <td><%= link_to 'Edit', edit_patent_path(patent) %></td>
        <td><%= link_to 'Destroy', patent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patent', new_patent_path %>
