<h1>Listing internships</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Contry</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Postion</th>
      <th>Company annotation</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internships.each do |internship| %>
      <tr>
        <td><%= internship.title %></td>
        <td><%= internship.company %></td>
        <td><%= internship.contry %></td>
        <td><%= internship.start_date %></td>
        <td><%= internship.end_date %></td>
        <td><%= internship.postion %></td>
        <td><%= internship.company_annotation %></td>
        <td><%= internship.detail %></td>
        <td><%= link_to 'Show', internship %></td>
        <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
        <td><%= link_to 'Destroy', internship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship', new_internship_path %>
